html {
	background: #123;
	color: #cde;
	font-size: 13pt;
	padding: 1em 2em 2em;
	position: relative;
	min-height: calc(100vh - 3em);
	tab-size: 4;
}

body { 
	margin: 0; 
	padding-bottom: 4em;
}

.faint { color: #678; }

.error { color: #d65; }

input, textarea {
	background: #012;
	color: #def;
	font-size: 100%;
}

button {
	background: #627;
	color: #bcd;
	padding: 0.5em;
	cursor: pointer;
	vertical-align: middle;
}

a { color: #b7c; }

:target { outline: solid; }

h2 { margin: 0.5em 0 0.2em; }

article {
	max-width: 48em;
	margin: 0 auto 4em auto;
}

aside { margin-bottom: 2em; }

code { background: #0008; }

dfn { background: #323; }

footer {
	position: absolute;
	height: 2em;
	bottom: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: calc(100vw - 4em);
}
