html {
    background: #123;
    color: #cde;
    font-size: 13pt;
    margin: 2em;
}

.error {
    color: #d65;
}

input, textarea {
    background: #012;
    color: #def;
    font-size: 100%;
}

textarea {
    resize: vertical;
    width: 100%;
    min-height: 2em;
    max-height: 50vh;
}

button {
    background: #627;
    color: #bcd;
    padding: 0.5em;
    cursor: pointer;
    vertical-align: middle;
}

a {
    color: #b7c;
}

#app-title {
    margin: 0;
    float: right;
}

h2 {
    margin: 0.5em 0 0.2em;
}

#output {
    white-space: pre;
    background: #234;
    padding: 1em;
    font-family: monospace;
}

article {
    max-width: 40em;
    margin: 0 auto;
}

.example {
    display: flex;
    justify-content: space-around;
}

.example > * {
    flex: auto;
    margin: 0.3em;
    overflow: auto;
}

.example h5 {
    margin-top: 0;
    margin-bottom: 1em;
}

.example pre {
    background: #0008;
    padding: 0.7em;
    font-size: 90%;
}

code {
    background: #0008;
}